*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #37444F;
    font-family:'Segoe UI';
    position: relative;
}

.form-container{
    background-color: #fff;
    border-top: 4px solid #47b2e4;
    width: 450px;
    margin: 100px auto;
    padding: 15px 20px;
    border-radius: 6px; 
}

.form-container h2{
    border-bottom: 0.2rem solid #47b2e4;
    width: 32%;
    margin-bottom: 25px;
}

.input-fields label{
    display: block;
    color: #666;
}

.input-fields{
    margin-top: 10px;
}

.input-fields input{
    border: 1px solid #ddd;
    margin-top: 5px;    
    border-radius: 4px;
    width: 100%;
    padding: 8px;
}

textarea{
    margin-top: 5px;
    border: 1px solid #ddd; 
    width: 100%;
}

button{
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    margin-top: 10px;
    background-color: #448DB6;
    transition: 0.3s;
    cursor: pointer;
}

button:hover{
    background-color: #3498db;
    transition: 0.3s;
    color: #fff;
}